button{
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    font-weight:bold;
    font-family: "Cabin", sans-serif;
    display: flex;
    gap: 0.3rem;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0px -3px 5px 0px rgba(26,26,26,0.26);
}

button svg{
    font-size: 1.2rem;
}