@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*Crear variables*/
:root {
  --color-1: #303841;
  --color-2: #f6c90e;
  --color-3: #ea5455;
  --color-4: #0dc143;
  --color-text: #fafafa;

  --transition: all 400ms ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  /* Para utilizar rem */
  font-size: 90%;
  /*mejora al dirigirse de un section a otro section*/
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
  background-color: #ea5455;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(223, 61, 61);
}

body {
  font-family: 'Cabin', sans-serif;
  background: #F1F6F9;
  /**background-image: url(/cheficon.png);**/
}

img{
  display: block;
  object-fit: cover;
}

#contenedor{
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1024px) {
  #contenedor{
    width: 86%;
  }
}
@media screen and (max-width: 600px) {
  #contenedor{
    width: 100%;
  }

  ::-webkit-scrollbar {
    scrollbar-width: none;
  }
}
