.container-botones-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    button {
        border: none;
        background-color: transparent;
        padding: 5px;
        margin: 0;
        cursor: pointer;

        svg {
            font-size: 1.5rem;
            color: var(--color-3);
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
        }
    }

    button[disabled] svg {
        background-color: rgb(255, 255, 255);
        opacity: 0.6;
    }

    input {
        width: 25px;
        height: 25px;
        border: 1px solid black;
        border-radius: 0.2rem;
        text-align: center;
    }
}